

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/admin/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/admin/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">资金概况
            <div class="layui-btn-group layuiadmin-btn-group">
                <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs" onclick="setvmo(1)">全部</a>
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs"  onclick="setvmo(2)">本周</a>
            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs" onclick="setvmo(3)">本月</a>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-row  layadmin-homepage-padding15">
                <div class="layui-col-md12 layadmin-homepage-padding8">
                    <div class="layui-row layadmin-homepage-text-center">
                        <div class="layui-col-md2 layui-col-sm3 layui-col-xs3">

                            <div style="margin-left: 10px;">
                                <p class="h4">
                                    增加金额（元）
                                </p>
                                <mdall style="font-size: 20px;color: #666666;font-weight: bold;" id="mo1">{$zjmo}</mdall>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-sm3 layui-col-xs3">
                            <p class="h4">
                                减去金额（元）
                            </p>
                            <mdall style="font-size: 20px;color: #666666;font-weight: bold;" id="mo2">{$jsmo}</mdall>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="uid" placeholder="请输入" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="nick" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="str" placeholder="请输入" id="time1" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="end" placeholder="请输入" id="time2" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                {in name="$data.delmoneylog" value="$permis"}
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="del">删除</button>
                {/in}
            </div>
            <table class="layui-table" lay-data="{ url:'/admin/Pay/usermoneylog',method:'post', page:true, id:'LAY-user-managet'}" lay-filter="LAY-user-managet">
                <thead>
                <tr>
                    <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field:'id', width:150, sort: true}">ID</th>
                    <th lay-data="{templet:'#nick'}">用户</th>
                    <th lay-data="{templet:'#moneyx'}">变动金额</th>
                    <th lay-data="{templet:'#type'}">变动类型</th>
                    <th lay-data="{field:'text'}">说明</th>
                    <th lay-data="{field:'yue'}">变动后金额</th>
                    <th lay-data="{field:'addtime'}">创建时间</th>
                    <th lay-data="{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
                </tr>
                </thead>
            </table>
            <script type="text/html" id="nick">
                <span style="color: #FF6A00;cursor:pointer" lay-href="/admin/User/info?id={{d.user_id}}" title="买家信息">
                {{# if(d.nick){ }}
                  {{d.nick}}
                  {{# }else{ }}
                  无
                  {{# } }}
                <i class="layui-icon layui-icon-search"></i>
                </span>
            </script>
            <script type="text/html" id="type">
                {{# if(d.type==1){ }}
                购买商品
                {{# }else if(d.type==2){ }}
                后台增加
                {{# }else{ }}
                其他
                {{# } }}
            </script>
            <script type="text/html" id="moneyx">
                {{# if(d.mo_type==1){ }}
                +
                {{# }else{ }}
                -
                {{# } }}
                <span>{{d.money}}</span>
            </script>
            <script type="text/html" id="barDemo">
                {in name="$data.delmoneylog" value="$permis"}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {/in}
            </script>
        </div>
    </div>
</div>

<script src="/admin/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/admin/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table','laydate'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table
    ,laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#time1' //指定元素
            ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#time2' //指定元素
            ,type: 'datetime'
        });


        //搜索角色
        form.on('submit(LAY-user-front-search)', function(data){
            var field = data.field;
            $.post("{:url('admin/pay/usermoneylog')}", field, function(data,state){});
            //执行重载
            table.reload('LAY-user-managet', {
                where: field
            });
        });

        //监听工具条
        table.on('tool(LAY-user-managet)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除当前记录吗', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    var dataid=data['id'];
                    //向服务端发送删除指令
                    $.post(
                        "{:url('admin/Pay/delmoneylog')}",
                        {"id":dataid},
                        function(data,state){
                            if(state != "success"){
                                layer.msg("请求出错!");
                            }else if(data.status == 1){
                                table.reload('LAY-user-managet');
                                layer.msg('已删除');
                            }else{
                                layer.msg(data.msg);
                            }
                        }
                    );
                });
            }
        });

        //事件
        var active = {
            del: function(){
                var checkStatus = table.checkStatus('LAY-user-managet')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                var dataid='';
                for(var i=0;i<checkData.length;i++){
                    dataid=dataid+','+checkData[i]['id'];
                }
                layer.confirm('确定删除选中数据吗？', function(index) {
                    $.post(
                        "{:url('/admin/Pay/delmoneylog')}",
                        {"id":dataid},
                        function(data,state){
                            if(state != "success"){
                                layer.msg("请求出错!");
                            }else if(data.status == 1){
                                table.reload('LAY-user-managet');
                                layer.msg('已删除');
                            }else{
                                layer.msg(data.msg);
                            }
                        }
                    );
                });
                //
            }
        }
        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


    function setvmo(st){
        layui.use('layer', function(){
            var layer = layui.layer;
            var $ = layui.$;
            $.post(
                "{:url('admin/Pay/getMoney')}",
                {"st":st},
                function(data,state){
                    if(state != "success"){
                        layer.msg("请求出错!");
                    }else if(data.status == 1){
                        $("#mo1").text(data.zjmo);
                        $("#mo2").text(data.jsmo);
                    }else{
                        layer.msg(data.msg);
                    }
                }
            );
        });
    }
    //setTimeout("setvmo(1)",300);
    //setvmo(1);
</script>
</body>
</html>

