<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入 - </title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/admin/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/admin/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="/admin/layuiadmin/style/login.css" media="all">
</head>
<body>

  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>{:config('-appsite.app_name')}</h2>
        <p>后台管理系统</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
          <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
        </div>
        {if $yan==1}
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
              <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <img src="/admin/Login/verify" class="layadmin-user-login-codeimg" id="verifyImg" onclick="fleshVerify()">
              </div>
            </div>
          </div>
        </div>
        {/if}
        <div class="layui-form-item" style="margin-bottom: 20px;">
          <input type="checkbox" name="remember" lay-skin="primary" title="记住帐号">
          <a href="javascript:void(0);" onclick="layer.msg('这密码你都能忘记？？对不起...没有密码进不去');" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
        </div>
        
      </div>
    </div>
    
    <div class="layui-trans layadmin-user-login-footer">
      
      <p>{:config('-appsite.app_company')}</p>
      <p>
        备案号:{:config('-appsite.web_keep')}
      </p>
    </div>
    

    
  </div>

  <script src="/admin/js/jquery.js"></script>
  <script src="/admin/layuiadmin/layui/layui.js"></script>
  <script>function fleshVerify(){document.getElementById('verifyImg').src= "/admin/Login/verify?id="+Math.random();}</script>
  <script>
  layui.config({
    base: '/admin/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user'], function(){
    var $ = layui.$
    ,setter = layui.setter
    ,admin = layui.admin
    ,form = layui.form
    ,router = layui.router()
    ,search = router.search;

    form.render();

    //提交
    form.on('submit(LAY-user-login-submit)', function(obj){
    
		var res=obj.field;
		$.post(
    				"/admin/Login/login",
    				res,
    				function(data,state){
    					if(state != "success"){
    						layer.msg("请求出错!");
							fleshVerify();
    					}else if(data.status == 1){
    						layer.msg('登录成功', function(){
								setTimeout(function(){
									window.location.href = "/admin/Index/index";
								},1000);
							});
    					}else{
    						layer.msg(data.msg);
							fleshVerify();
    					}
    				}
    			);
		

      
    });
    
    
    
    
  });
  </script>
</body>
</html>