
.u-relative,
.u-rela {
	position: relative;
}

.u-absolute,
.u-abso {
	position: absolute;
}

.u-font-xs {
	font-size: 11px;
}

.u-font-sm {
	font-size: 13px;
}

.u-font-md {
	font-size: 14px;
}

.u-font-lg {
	font-size: 15px;
}

.u-font-xl {
	font-size: 17px;
}
.u-padding-5{
	padding: 5px;
}
.u-padding-8{
	padding: 8px;
}
.u-padding-10{
	padding: 10px;
}
.u-padding-20{
	padding: 20px;
}
.u-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.u-flex-1{
	display: flex;
	flex: 1;
}
.u-flex-wrap {
	flex-wrap: wrap;
}

.u-flex-nowrap {
	flex-wrap: nowrap;
}

.u-col-center {
	align-items: center;
}

.u-col-top {
	align-items: flex-start;
}

.u-col-bottom {
	align-items: flex-end;
}

.u-row-center {
	justify-content: center;
}

.u-row-left {
	justify-content: flex-start;
}

.u-row-right {
	justify-content: flex-end;
}

.u-row-between {
	justify-content: space-between;
}

.u-row-around {
	justify-content: space-around;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-flex-col {
	display: flex;
	flex-direction: column;
}

.u-font-bold{
	font-weight: bold;
}
.u-border-bottom-radius{
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
}
.u-radius{
	border-radius: 50%;
}
.u-bg-white{
	background-color: #FFFFFF;
}
.u-color-white{
	color: #FFFFFF!important;
}
.u-color-balck{
	color: #000000;
}
.u-color-balck3{
	color: #333333;
}
.u-color-balck6{
	color: #666666;
}
.u-color-balck9{
	color: #999999;
}
.u-font-10{
    font-size: 10px;
}
.u-font-12{
    font-size: 12px;
}
.u-font-13{
    font-size: 13px;
}
.u-font-14{
    font-size: 14px;
}
.u-font-16{
    font-size: 16px;
}
.u-font-18{
    font-size: 18px;
}
.u-font-20{
    font-size: 20px;
}
.u-font-22{
    font-size: 22px;
}
.u-font-24{
    font-size: 24px;
}
.u-font-26{
    font-size: 26px;
}
.u-font-28{
    font-size: 28px;
}
.u-font-32{
    font-size: 32px;
}
.u-font-48{
    font-size: 48px;
}
.u-margin-left-5{
    margin-left: 5px;
}
.u-margin-left-8{
    margin-left: 8px;
}
.u-margin-left-10{
    margin-left: 10px;
}
.u-margin-left-20{
    margin-left: 20px;
}
.u-margin-left-30{
    margin-left: 30px;
}
.u-margin-top-1{
	margin-top: 1px;
}
.u-margin-top-2{
	margin-top: 2px;
}
.u-margin-top-5{
    margin-top: 5px;
}
.u-margin-top-10{
    margin-top: 10px;
}
.u-margin-top-20{
    margin-top: 20px;
}
.u-margin-top-30{
    margin-top: 30px;
}
.u-margin-bottom-5{
	margin-bottom: 5px;
}
.u-margin-bottom-10{
	margin-bottom: 10px;
}
.u-margin-bottom-20{
	margin-bottom: 20px;
}
.opac-9{
	opacity: 0.9;
}
.opac-7{
	opacity: 0.7;
}
.opac-5{
	opacity: 0.5;
}
.opac-3{
	opacity: 0.3;
}
.wrapper {
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}