

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/admin/layuiadmin/layui/css/layui.css" media="all">
</head>
<style>
    .tups{
        position: relative;
        width:100px;height:100px;
        margin-right: 10px;
    }
    .tudel{
        width: 40px;
        height: 20px;
        background: #FE5C14;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor:pointer;
    }
</style>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <input type="hidden" name="id" id="id" value="" />
    <div class="layui-form-item">
        <label class="layui-form-label">预约名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" id="title"  placeholder="预约名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">项目分类</label>
        <div class="layui-input-inline">
            <select name="classid" lay-verify="required"  id="classid" lay-search>
                <option value="0">请选择</option>
                {volist name="list" id="vo"}
                <option value="{$vo.id}">{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">预约图片200*140</label>
        <div class="layui-input-inline">
            <input type="text" name="img" id="img"  placeholder="请上传图片" autocomplete="off" class="layui-input" >
            <img  id="imgx1" style="width:100px;">
        </div>
        <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-useradmin">上传图片</button>
    </div>
    {if $id}
    <div class="layui-col-md12" id="lunbo" style="display: none;">
        <div class="layui-form-item">
            <div class="layui-form-label">轮播图750*300</div>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test-upload-more">多图片上传(最多5张)</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="test-upload-more-list" style="display: flex">
                            {volist name="lunimg" id="vo"}
                            <div class="tups">
                                <img src="{$vo.img}" class="layui-upload-img" style="width:100px;height:100px;">
                                <div class="tudel" onclick="delimg('{$vo.id}',this)">删除</div>
                            </div>
                            {/volist}
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    {else}
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图750*300</label>
        <div class="layui-form-mid layui-word-aux">轮播图请在添加了预约项目之后，点修改  再上传轮播图</div>
    </div>
    {/if}

    <div class="layui-form-item">
        <label class="layui-form-label">预约费用</label>
        <div class="layui-input-inline">
            <input type="text" name="money" id="money"  placeholder="预约费用" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约人气</label>
        <div class="layui-input-inline">
            <input type="text" name="pv" id="pv"  placeholder="预约人气" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">报名人数</label>
        <div class="layui-input-inline">
            <input type="text" name="bao" id="bao"  placeholder="报名人数" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">已报名人数，每次报名会在这个基础上+1</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">时间段预约次数</label>
        <div class="layui-input-inline">
            <input type="text" name="yueno" id="yueno" value="0"  placeholder="单个时间段可预约次数" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">每人单个时间段可预约次数，默认0 不限制，设置0 如果预约时间段有多个数量，则可多次预约同一个时间段</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">总报名人数</label>
        <div class="layui-input-inline">
            <input type="text" name="zno" id="zno"  placeholder="总报名人数" value="0" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">总共可以报名多少人，0则不限制，这里可以设置为0然后预约时间里面可以做限制</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系人名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="name"  placeholder="联系人名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人电话</label>
        <div class="layui-input-inline">
            <input type="text" name="mobile" id="mobile"  placeholder="联系人电话" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约地址</label>
        <div class="layui-input-inline">
            <input type="text" name="address" id="address"  placeholder="预约地址" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址维度</label>
        <div class="layui-input-inline">
            <input type="text" name="lat" id="lat"  placeholder="地址维度" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用于前端导航和标记地图
            <a target="_blank" href="https://lbs.qq.com/getPoint/">腾讯地图经纬度拾取</a>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址经度</label>
        <div class="layui-input-inline">
            <input type="text" name="lng" id="lng"  placeholder="地址经度" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">用于前端导航和标记地图
            <a target="_blank" href="https://lbs.qq.com/getPoint/">腾讯地图经纬度拾取</a>
        </div>
    </div>



    <!--<div class="layui-form-item layui-form-text">-->
        <!--<label class="layui-form-label">预约须知</label>-->
        <!--<div class="layui-input-inline" style="width:500px;">-->
            <!--<textarea name="intro" id="intro" class="layui-textarea" placeholder="预约须知"></textarea>-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux">预约须知</div>-->
    <!--</div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">预约详情</label>
        <div class="layui-input-block">
            <textarea id="texter" lay-verify="content" name="texter" style="display: none;"></textarea>
            <!--<textarea name="texter" id="texter" class="layui-textarea" placeholder="详情介绍"></textarea>-->
        </div>
    </div>

    <div class="layui-form-item" lay-filter="status">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" checked  id="status" value="1" title="上线">
            <input type="radio" name="status"  id="status" value="2" title="下线">
        </div>
    </div>

    <div class="layui-form-item" lay-filter="status">
        <label class="layui-form-label">是否推荐到首页</label>
        <div class="layui-input-block">
            <input type="radio" name="istui" checked  id="istui" value="1" title="推荐">
            <input type="radio" name="istui"  id="istui" value="0" title="不推荐">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">推荐语</label>
        <div class="layui-input-inline">
            <input type="text" name="recommended" id="recommended"  placeholder="推荐语" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">显示推荐语</div>
    </div>

    <div class="layui-form-item" lay-filter="status">
        <label class="layui-form-label">是否显示详情</label>
        <div class="layui-input-block">
            <input type="radio" name="is_info" checked  id="is_info" value="1" title="显示">
            <input type="radio" name="is_info"  id="is_info" value="2" title="不显示">
        </div>
        <div class="layui-form-mid layui-word-aux">这里选否 则会直接略过预约详情页</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">核销次数</label>
        <div class="layui-input-inline">
            <input type="text" name="heno" id="heno"  placeholder="核销次数" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">起始天数</label>
        <div class="layui-input-inline">
            <input type="text" name="startingday" id="startingday"  placeholder="起始天数" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">从第几天开始  填1就是明天开始才能预约</div>
    </div>
    



    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="paiid" id="paiid"  placeholder="数字越大越靠前" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>

<!--<script src="/admin/layuiadmin/layui/layui.js"></script>-->
<script src="/admin/layuiadmin/layui/Layui-KnifeZ/layui.js"></script>
<script src="/admin/layuiadmin/layui/ace/ace.js"></script>
<script>
    layui.config({
        base: '/admin/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload','element','laydate','layedit'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#strat_time' //指定元素
            ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end_time' //指定元素
            ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#bao_strat_time' //指定元素
            ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#bao_end_time' //指定元素
            ,type: 'datetime'
        });

        //多图片上传
        upload.render({
            elem: '#test-upload-more'
            ,url: "{:url('admin/Index/yuyueimg')}"
            ,exts: 'jpg|png|gif'//限制文件
            ,multiple: true
            ,data: {id:"{$id}"}
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                });
            }
            ,done: function(res){
                if(res.code==0){
                    var result=res.filename;
                    var id=res.id;
                    //上传完毕
                    var ht='<div class="tups">\n' +
                        '<img src="'+ result +'" class="layui-upload-img" style="width:100px;height:100px;">\n' +
                        '<div class="tudel"  onclick="delimg(\''+id+'\',this)">删除</div>\n' +
                        '</div>';
                    $('#test-upload-more-list').append(ht);
                }else{
                    layer.msg(res.msg);
                }
            }
        });

        upload.render({
            elem: '#layuiadmin-upload-useradmin' //绑定元素
            ,url: "{:url('admin/Index/upload')}" //上传接口
            ,ext: 'jpg|png|gif'//限制文件
            ,done: function(res){
                //上传完毕回调
                $(this.item).prev("div").children("input").val(res.filename)
                document.getElementById('imgx1').src = res.filename;
                layer.msg("上传成功");
            }
            ,error: function(){
                //请求异常回调
            }
        });

        layedit.set({
            //暴露layupload参数设置接口 --详细查看layupload参数说明
            uploadImage: {
                url: "{:url('/admin/Index/uploadtxt')}",
                accept: 'image',
                acceptMime: 'image/*',
                exts: 'jpg|png|gif|bmp|jpeg',
                size: '10240'
            }
            , uploadVideo: {
                url: "{:url('/ohyueo/Index/uploadVideo')}",
                accept: 'video',
                acceptMime: 'video/*',
                exts: 'mp4|flv|avi|rm|rmvb',
                size: '20480'
            },
            uploadAudio: {
                url: "{:url('/ohyueo/Index/uploadAudio')}",
                accept: 'audio',
                acceptMime: 'audio/*',
                exts: 'mp3|m4a|wma|amr|ape|flac|aac'
            }
            //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
            //传递参数：
            //图片： imgpath --图片路径
            //视频： filepath --视频路径 imgpath --封面路径
            , calldel: {
                url: "{:url('/ohyueo/Index/delUploadVideo')}"
            }
            //开发者模式 --默认为false
            , devmode: false
            //是否自动同步到textarea
            , autoSync: true
            ,onchange: function (content) {
                console.log(content);
            }
            //插入代码设置
            , codeConfig: {
                hide: true,  //是否显示编码语言选择框
                default: 'javascript' //hide为true时的默认语言格式
            }
            , tool: [
                'html', //显示富文本源码
                'undo', //撤销
                'redo',//重做
                'code', //代码
                'strong',//加粗
                'italic', //斜体
                'underline', //下划线
                'del', //删除线
                'addhr', //水平线
                '|',
                'removeformat', //清楚文字样式
                'fontFomatt',//段落格式
                'fontfamily',//字体
                'fontSize', //字体大小
                'fontBackColor',//字体背景色
                'colorpicker',//字体颜色
                'face',//表情
                '|',
                'left', //左对齐
                'center', //居中
                'right', //右对齐
                '|',
                'link', //链接
//              'unlink', //清除链接
//              'images', //多图上传
                'image_alt', //图片alt
//              'video',//视频
//              'attachment',//插入附件
                'anchors'//添加锚点
                , '|'
                , 'table',//表格
                'customlink'//自定义链接
                , 'fullScreen'//全屏
            ]
            , height: '90%'
        });
        var ieditor = layedit.build('texter');
        layedit.sync(ieditor);
        form.verify({
            content: function(value) {
                return layedit.sync(ieditor);
            }
        });


    })
    function delimg(id,th) {
        layui.use('layer', function() {
            var layer = layui.layer;
            var $ = layui.$;
            layer.confirm('确定删除选中数据吗？', function(index) {
                $.post(
                    "{:url('/admin/Yuyue/delyuyueimg')}",
                    {"id":id},
                    function(data,state){
                        if(state != "success"){
                            layer.msg("请求出错!");
                        }else if(data.status == 1){
                            $(th).parent().hide();
                            layer.msg('删除成功');
                        }else{
                            layer.msg(data.msg);
                        }
                    }
                );
            });
            //layer.msg('删除成功');
        })
    }

</script>
</body>
</html>