body{
    font: 12px/150% "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #666666;
    background: #FFF none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'iconfont';  /* Project id 2574805 */
    src: url('https://at.alicdn.com/t/font_2574805_1gly39i8i4.woff2?t=1622702530267') format('woff2'),
    url('https://at.alicdn.com/t/font_2574805_1gly39i8i4.woff?t=1622702530267') format('woff'),
    url('https://at.alicdn.com/t/font_2574805_1gly39i8i4.ttf?t=1622702530267') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.w1220 {
    width: 1220px;
    margin: 0 auto;
}
.def_color{
    color:#fa3534;
}
.def_background{
    background: #fa3534;
}
.def-background2{
    background: #ffeeef;
}
.def-border{
    border: 1px solid #fa3534;
}
.def-color-hover:hover{
    color:#fa3534;
}

.back-white{
    background: #ffffff;
}
/**定位**/
.u-relative,
.u-rela {
    position: relative;
}

.u-absolute,
.u-abso {
    position: absolute;
}
/**颜色**/
.color-white{
    color: #ffffff;
}
.color-black3{
    color: #333333;
}
.color-black6{
    color: #666666;
}
.color-black9{
    color: #999999;
}
/**边距**/
.u-left-30{
    margin-left: 30px;
}
.u-left-20{
    margin-left: 20px;
}
.u-left-10{
    margin-left: 10px;
}
.u-top-10{
    margin-top: 10px;
}
.u-top-20{
    margin-top: 20px;
}
.u-top-30{
    margin-top: 30px;
}
.u-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.u-col-flex{
    display: flex;
    flex-direction: column;
}
/* 换行 */
.u-flex-wrap {
    flex-wrap: wrap;
}

/* 不换行 */
.u-flex-nowrap {
    flex-wrap: nowrap;
}

/* 垂直居中 */
.u-col-center {
    align-items: center;
}

/* 顶部对齐 */
.u-col-top {
    align-items: flex-start;
}

/* 底部对齐 */
.u-col-bottom {
    align-items: flex-end;
}

/* 左边对齐 */
.u-row-left {
    justify-content: flex-start;
}

/* 水平居中 */
.u-row-center {
    justify-content: center;
}

/* 右边对齐 */
.u-row-right {
    justify-content: flex-end;
}

/* 水平两端对齐，项目之间的间隔都相等 */
.u-row-between {
    justify-content: space-between;
}

/* 水平每个项目两侧的间隔相等，所以项目之间的间隔比项目与父元素两边的间隔大一倍 */
.u-row-around {
    justify-content: space-around;
}

/**字体**/
.u-font-8{
    font-size: 8px;
}
.u-font-10{
    font-size: 10px;
}
.u-font-12{
    font-size: 12px;
}
.u-font-13{
    font-size: 13px;
}
.u-font-14{
    font-size: 14px;
}
.u-font-16{
    font-size: 16px;
}
.u-font-18{
    font-size: 18px;
}
.u-font-20{
    font-size: 20px;
}
.u-font-30{
    font-size: 30px;
}
.u-font-bold{
    font-weight: bold;
}
/* 文字左对齐 */
.u-text-left {
    text-align: left;
}

/* 文字居中对齐 */
.u-text-center {
    text-align: center;
}

/* 文字右对齐 */
.u-text-right {
    text-align: right;
}
/****/
.u-spac1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.u-spac2{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/**a标签**/
.u-a-dec{
    text-decoration:none
}
/**鼠标变手**/
.u-curs{
    cursor: pointer;
}

.u-center{
    width: 100%;
    height: 100%;
    padding:0 0 20px 0;
    background: #F2F2F2;
    overflow: hidden;
}