<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="单商户商城v1,"/>
    <meta name="description" content="单商户商城v1,"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/index/css/common.css" media="all">
    <link rel="stylesheet" href="/index/css/head.css" media="all">
    <link rel="stylesheet" href="/index/css/footer.css" media="all">
    <link rel="stylesheet" href="../package/swiper-bundle.min.css">
</head>
<body>
{include file="public/head" /}

{include file="public/footer" /}
</body>
<script src="/admin/js/jquery.js"></script>
<script src="/admin/js/jquery.cookie.js"></script>
<script src="/index/js/public.js"></script>
<script src="../package/swiper-bundle.min.js"></script>
</html>
